  /* Homepage.css */
  h1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    padding: 1.5rem 0;
    margin: 0 0 2rem 0;
  }

  
  .question {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }


  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
  
  /* Styling for question */
  .questionContainer{
    margin: 0 auto 0.2rem auto;
    padding: 0 2rem;
  }

  /* styling for game info message */
  .questionContainer section{
    font-size: 0.8rem;
    min-height: 1rem;
    color: yellow;
  }

  .answerGridContainerAnswerContainer{
    display: flex;
    align-items: flex-end;
  }


  .answerGridContainerAnswerContainer, .buttonGridContainer{
    display: flex;
    align-items: center;
    font-size: 0.75rem;/* font sizes for question and answer grid*/
    margin-bottom: 0.5rem;
  }
  /* animation */
@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .flash {
    animation: flash 0.6s ease-in-out 3; /* Adjust timing and repetition as needed */
  }
  
  /* Animation */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fadeIn {
    animation: fadeIn 1s ease-in;
  }
  
  /* Landscape Orientation Styles to flip board to landscape*/
  @media screen and (orientation: landscape) {
    .contentWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0rem 0.5rem 1rem 0.5rem;
    }
  
    .answerGridContainerAnswerContainer, .buttonGridContainer {
      width: 45%; /* Adjust based on your layout preference */
    }

    /* .question {
        font-size: 0.82rem;
        color: lightblue;
      } */
  }

      /* Media query for landscape on big phones */
      /* @media  (orientation: landscape) and (min-width:805px) and (max-width:870px) {
        .question *{
            font-size: 0.98rem;
            color: lightgreen;
          }
      } */

          /* Media query for landscape on really big phones */
    /* @media  (orientation: landscape) and (min-width:870px) and (max-width:940px) {
        .question {
            font-size: .9rem;
            color: lightcoral;
          }

        .answerGridContainerAnswerContainer{
            font-size: 0.7rem;
        }
      } */


  