.answerGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.attemptRow {
    display: flex;
    justify-content: center;
}

.answerBox {
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin: 2px;
    font-size: 12px; /* font for the answers */
}

.answerGridContainer .labelRow {
    display: flex;
    justify-content: center;
    padding-bottom: 10px; /* Adjust as needed */
}

.answerGridContainer .labelBox {
    width: 85px; /* Match the width of your answerBox */
    height: 30px; /* Height can be less than your answerBox */
    line-height: 30px; /* Center the number vertically */
    text-align: center;
    margin: 0 5px; /* Adjust the margin as needed */
    font-weight: bold; /* Optional: makes the numbers stand out */
    /* Add additional styling as needed */
}
