.answerGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .labelRow {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1rem;
  }
  
  .labelBox {
    width: 3rem;
    text-align: center;
    margin: 0 0.5rem;
  }
  
  .attemptRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answerBox {
    width: 3.5rem;
    min-height: 2.5rem;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: #3a3a3a; /* Default background */
    word-wrap: break-word;
    word-break: break-all; 
  }
  
  .green { background-color: #618c55; }
  .yellow { background-color: #aaa04c; }
  .gray { background-color: #3a3a3a; }
  
  @media screen and (max-width: 290px) {
    .answerBox {
      width: 2.9rem;
      height: 2.5rem;
    }
  }

    /* Media query for landscape on phones */
    @media screen and (orientation: landscape) and (max-width:660px) {
        .answerBox, .labelBox {
        width: 2.5rem;
        min-height: 2rem;
        height:fit-content;
      }
    }

  /* Media query for landscape on phones */
  @media (orientation: landscape) and (min-width:660px) and (max-width:805px) {    .answerBox, .labelBox {
      width: 3rem;
      min-height: 2.2rem;
      height:fit-content;
    }
  }
  
    /* Media query for landscape on big phones */
    @media  (orientation: landscape) and (min-width:805px) and (max-width:870px) {
        .answerBox, .labelBox {
          width: 3.6rem;
          min-height: 2.2rem;
          height:fit-content;
          margin: 0.15rem;
        }
      }

          /* Media query for landscape on really big phones */
    @media  (orientation: landscape) and (min-width:870px) and (max-width:940px) {
        .answerBox, .labelBox {
          width: 4rem;
          min-height: 2.5rem;
          height:fit-content;
          margin: 0.15rem;
        }
      }