.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin: 0 auto;
  }
  
  .button, .deleteButton, .enterButton {
    width: 3.5rem;
    height: 2.5rem;
    color: #f0efef;
    background-color: #706f6f;
    border: none;
    cursor: pointer;
    border-radius: 6%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* FONT FOR JUST BUTTONS*/
    font-size: 0.65rem;
  }
  
  .deleteButton { background-color: #e1818a; }
  .enterButton { background-color: #6e82f0; }
  
  /* @media screen and (max-width: 600px) {
    .gridContainer {
      gap: 0.5rem;
    }
    .button, .deleteButton, .enterButton {
      height: 2.5rem;
    }
  } */
  