.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.35rem;
    margin: 0 auto;
  }
  
  .button, .deleteButton, .enterButton {
    max-width: 5rem;
    width: 100%;
    min-height: 2.5rem;
    height:fit-content;
    color: #f0efef;
    background-color: #706f6f;
    border: none;
    cursor: pointer;
    border-radius: 6%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* FONT FOR JUST BUTTONS*/
    font-size: clamp(0.4rem, 2vw, 0.9rem); /* Responsive font size */
    word-wrap: break-word;
    padding: 0;
  }
  
  .deleteButton { background-color: #e1818a; }
  .enterButton { background-color: #6e82f0; }

