/* Base Styles */
body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  color: #e9e7e7;
  background-color: #232323;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

